// 변수, mixin 등을 정의해놓는 파일
$color-red: red;
$color-orange: orange;
$color-yellow: yellow;
$color-green: green;
$color-blue: blue;
$color-indigo: indigo;
$color-purple: purple;

$animation-duration: 0.4s;

$breakpoint-tablet: 758px;

// practice2
$color-pink: pink;

// practice4

