<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cookie</title>
    <!-- axios cdn 불러오기 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      body {
        position: relative;
      }
      body.act {
        background-color: rgba(0, 0, 0, 0.398);
      }
      .popup {
        display: none;
      }
      .popup.act {
        display: block;
        width: 300px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 15px;
      }
      .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        background-color: blue;
        color: white;
        padding-inline: 10px;
        border-radius: 15px 15px 0px 0px;
      }
      .main {
        height: 243px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main .text {
        width: 85%;
        height: 85%;
        background-color: bisque;
        border-radius: 15px;
        padding: 10px;
      }
      .footer {
        width: 98%;
        height: 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        position: relative;
        bottom: 3px;
      }
      .checkbox-text {
        position: relative;
      }
      #cancel {
        position: relative;
        cursor: pointer;
        font-size: 25px;
      }
      #cancel:hover {
        transition-duration: 2s;
        transform: rotateZ(360deg);
      }
    </style>
  </head>
  <body <%if (!cookie) {%>
    class="act"<%}%>>
    <h1>Cookie 실습</h1>

    <div <%if (!cookie) {%>
      class="popup act"<%} else {%> class='popup'<%}%> >
      <div class="header">
        <div>안내</div>
        <div id="cancel">x</div>
      </div>
      <div class="main">
        <div class="text">어쩌구저쩌구~</div>
      </div>
      <div class="footer">
        <input type="checkbox" id="box" /><label
          for="box"
          class="checkbox-text"
          >5초 그만보기</label
        >
      </div>
    </div>

    <script>
      document.querySelector("#cancel").addEventListener("click", () => {
        document.querySelector(".popup.act").classList.remove("act");
        document.querySelector("body.act").classList.remove("act");

        if (document.querySelector("#box").checked) {
          axios({
            method: "GET",
            url: "/setCookie",
          });
        }
      });
    </script>
  </body>
</html>
