.Header {
    nav {
        ul {
            display: flex;
            list-style: none;
        }
    }
}
.StudentPage {
    .StudentName {
        color: green;
    }
    .jisu {
        color: red;
    }
}